.dockerignore
.env
.env/
.git/
.gitignore
.gitlab-ci.yml
.gitmodules
.idea/
.pre-commit-config.yaml
*/__pycache__/
*/*.pyc
dist/
docker-compose.*
Dockerfile
Dockerfile.*
README.md
media/*
run/
!run/start.sh
!run/supervisord.conf
.venv
.venv/
*.egg
*.egg-info
*.egg-info/
*.sql
